@import url("//fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=M+PLUS+1p:wght@300&display=swap");

html {
  font : 1.5em/1.42 sans-serif;
  -moz-text-size-adjust    : 100%;
  -webkit-text-size-adjust : 100%;
}

a       { text-decoration : none;      }
a:hover { text-decoration : underline; }
address { font-style      : normal;    }
body    { margin          : 0;         }
img     { vertical-align  : bottom;    }

a, dl, h1, h2, h3, h4, h5, h6, ol, p, ul {
  font-family : "Open Sans", "M PLUS 1p", sans-serif;
  font-weight : 300;
}

body > header {
  background-color    : crimson;
  background-image    : url("assets/logo.png");
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  height              : 350px;
  position            : relative;
}

body > header > h1 {
  display : none;
}

body > header > a {
  height   : 100%;
  position : absolute;
      left : 0;
      top  : 0;
  width    : 100%;
}

main {
  margin-left  : 5vw;
  margin-right : 5vw;
}

main > header {
  display : flex;
}

main > header > img {
  border-color  : white;
  border-radius : 50%;
  border-style  : solid;
  flex-shrink   : 0;
  margin-top    : -100px;
  z-index       : 0;
}

main > header * {
  margin-bottom : auto;
  margin-top    : auto;
}

@font-face {
  font-family : "icomoon";
  font-style  : italic;
  src         : url("fonts/icomoon.woff") format("woff");
}

.im {
  display     : inline-block;
  font-family : "icomoon";
  text-align  : center;
  width       : 1.3rem;
}

.im > span           { display : none;    }
.im-archlinux        { color   : #1793d1; }
.im-archlinux:before { content : "\e900"; }
.im-discord          { color   : #7289da; }
.im-discord:before   { content : "\e901"; }
.im-facebook         { color   : #3b5998; }
.im-facebook:before  { content : "\e902"; }
.im-github           { color   : #24292e; }
.im-github:before    { content : "\e903"; }
.im-gmail            { color   : #d14836; }
.im-gmail:before     { content : "\e904"; }
.im-instagram        { color   : #e4405f; }
.im-instagram:before { content : "\e905"; }
.im-line             { color   : #00c300; }
.im-line:before      { content : "\e906"; }
.im-mobile           { color   : #24292e; }
.im-mobile:before    { content : "\e907"; }
.im-twitter          { color   : #1da1f2; }
.im-twitter:before   { content : "\e908"; }
