html {
  font : 1.5em/1.42 sans-serif;
  -moz-text-size-adjust    : 100%;
  -webkit-text-size-adjust : 100%;
}

a       { color           : blue;      }
a       { text-decoration : none;      }
a:hover { text-decoration : underline; }
address { font-style      : normal;    }
body    { margin          : 0;         }
img     { vertical-align  : bottom;    }

a, dl, h1, h2, h3, h4, h5, h6, ol, p, td, ul {
  font-family : system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight : 300;
}

#body-header {
  background-color    : crimson;
  background-image    : url("logo.png");
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  height              : 350px;
  position            : relative;
}

#body-header > h1 {
  display : none;
}

#body-header > a {
  height   : 100%;
  position : absolute;
      left : 0;
      top  : 0;
  width    : 100%;
}

main {
  margin-left  : 5vw;
  margin-right : 5vw;
}

#main-header {
  display : flex;
}

#main-header > img {
  border-radius : 50%;
  flex-shrink   : 0;
  margin-top    : -100px;
  z-index       : 0;
}

#main-header * {
  margin-bottom : auto;
  margin-top    : auto;
}

@font-face {
  font-family : "icomoon";
  font-style  : italic;
  src         : url("icomoon.woff") format("woff");
}

i {
  display     : inline-block;
  font-family : "icomoon";
  text-align  : center;
  width       : 1.3rem;
}

i > span          { display : none;    }
#archlinux        { color   : #1793d1; }
#archlinux:before { content : "\e900"; }
#discord          { color   : #7289da; }
#discord:before   { content : "\e901"; }
#facebook         { color   : #1877f2; }
#facebook:before  { content : "\e902"; }
#github           { color   : #24292e; }
#github:before    { content : "\e903"; }
#gmail            { color   : #d14836; }
#gmail:before     { content : "\e904"; }
#instagram        { color   : #e4405f; }
#instagram:before { content : "\e905"; }
#line             { color   : #00b900; }
#line:before      { content : "\e906"; }
#mobile           { color   : #24292e; }
#mobile:before    { content : "\e907"; }
#twitter          { color   : #1da1f2; }
#twitter:before   { content : "\e908"; }
